:root {

    /*Theme Color*/
    --light-gray-color: #D4D4D2;
    --black-color: #1C1C1C;
    --dark-grey-color: #505050;
    --dark-yellow-color: #FF9500;

    /*Component color*/
    --background-color: #fff;
    --font-color: #505050;

    /*Font Family*/
    --main-font: font-family: 'Poppins', sans-serif;
}