:root {

  /*Main Theme Font*/
  --poppins-family: 'Poppins', sans-serif;

  /*Theme Color*/
  --background-color: #DFDFDF;
  --container-background: #D4D4D2;
  --button-color: #FF9500;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins-family);
}


body {
 height: 100vh;
 display: flex;
 justify-content: center;
 background: var(--background-color); 
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: var(--container-background);
}

.display { 
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000000; 
  pointer-events: none;
  background: red;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: var(--button-color);
}