:root {
  /*Main Theme Font*/
  --poppins-family: 'Poppins', sans-serif;

  /*Theme Color*/
  --background-color: #B9CCF4;
  --container-background-color: #61708d;
  --display-color: rgba(255, 255, 255, 0.904);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins-family);
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:  center;
  background: var(--background-color);
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: var(--container-background-color);
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
  background: var(--display-color);
  border-radius: 12px;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4,1fr);
}

.buttons button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #333333;
  color: #fdfdfd;
}

.buttons button:active {
  transform: scale(0.99);
}
.buttons .operator {
    background: #d4d4d2;
    color: #1c1c1c;
}

.buttons .main-operator {
    background: #ff9500;
    color: #fff;
}
